<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pictures</title>
    
</head>
<body>
    <style>
        body{
    background: #69a5ff;
    font-family: tahoma;
    color: #fee9e9;
    padding: 30px;
}
        .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}
.group {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
</style>
</head>
<body>
    </style>
    <h1>Here are some Images of different animals</h1>
    
    <ul class ="links">
       <li id="tiger" class ="group"><a href="/white-tiger">White Tiger</a></li>
       <li id="seaLion" class ="group"><a href="/sea-lion">Sea Lion</a></li>
       <li id="fox" class ="group"><a href="/fennec-fox">Fennec Fox</a></li>
       <li id="hummingBird" class ="group"><a href="/hummingbird">HummingBird</a></li>
       <li id="redPand" class ="group"><a href="/red-panda">Red Panda</a></li>
       <li id="bunny" class ="group"><a href="/bunny">Bunny</a></li>
       <li id="penguin" class ="group"><a href="/penguin">Penguin</a></li>
       <li id="wolf" class ="group"><a href="/arctic-wolf">Arctic Wolf</a></li>
    </ul>
    
</body>
</html>